// By https://jenil.github.io/chota/#!

#wrapper {
    overflow-y: hidden;
    #container {
        #main {
            display: flex;
            overflow-x: hidden;
        }
    }
}
.fullwidth.addMarginless {
    > .row {
        .element {
            --grid-gutter: 1rem;
        }
    }
}

.container,
#container #main .inside {
    max-width: var(--grid-maxWidth);
    margin: 0 auto;
    width: 96%;
    padding: 0 calc(var(--grid-gutter) / 2);
}
.container-fluid {
    width: 100%;
    max-width: 100%;
}

.row,  
.mod_article,
.content-element-group,
form > .formbody
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-gutter) / -2);
    flex-wrap: wrap;
}

.widget,
.col {
    flex: 1;
}

.widget,
.col,
[class*=" col-"],
[class^='col-'] {
    margin: 0 calc(var(--grid-gutter) / 2) calc(var(--grid-gutter) / 2);
}

.formbody .col,
.formbody [class*=" col-"],
.formbody [class^='col-'] {
    margin: 0 1rem 1rem;
}

.col-1 {
    flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
    max-width: calc((100% / (12/1)) - var(--grid-gutter));
}

.col-2 {
    flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
    max-width: calc((100% / (12/2)) - var(--grid-gutter));
}

.col-3 {
    flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
    max-width: calc((100% / (12/3)) - var(--grid-gutter));
}

.col-4 {
    flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
    max-width: calc((100% / (12/4)) - var(--grid-gutter));
}

.col-5 {
    flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
    max-width: calc((100% / (12/5)) - var(--grid-gutter));
}

.col-6 {
    flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
    max-width: calc((100% / (12/6)) - var(--grid-gutter));
}

.col-7 {
    flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
    max-width: calc((100% / (12/7)) - var(--grid-gutter));
}

.col-8 {
    flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
    max-width: calc((100% / (12/8)) - var(--grid-gutter));
}

.col-9 {
    flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
    max-width: calc((100% / (12/9)) - var(--grid-gutter));
}

.col-10 {
    flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
    max-width: calc((100% / (12/10)) - var(--grid-gutter));
}

.col-11 {
    flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
    max-width: calc((100% / (12/11)) - var(--grid-gutter));
}

.col-12 {
    flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
    max-width: calc((100% / (12/12)) - var(--grid-gutter));
}

.offset-left-1  {
    margin-left: calc((100% / (12/1)) + var(--grid-gutter-minus));
}
.offset-left-2  {
    margin-left: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
}
.offset-left-3  {
    margin-left: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
}
.offset-left-4  {
    margin-left: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
}
.offset-left-5  {
    margin-left: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
}
.offset-left-6  {
    margin-left: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
}
.offset-left-7  {
    margin-left: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
}
.offset-left-8  {
    margin-left: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
}
.offset-left-9  {
    margin-left: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
}
.offset-left-10  {
    margin-left: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
}
.offset-left-11  {
    margin-left: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
}
.offset-left-12  {
    margin-left: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
}

.offset-right-1  {
    margin-right: calc((100% / (12/1)) + var(--grid-gutter-minus));
}
.offset-right-2  {
    margin-right: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
}
.offset-right-3  {
    margin-right: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
}
.offset-right-4  {
    margin-right: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
}
.offset-right-5  {
    margin-right: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
}
.offset-right-6  {
    margin-right: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
}
.offset-right-7  {
    margin-right: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
}
.offset-right-8  {
    margin-right: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
}
.offset-right-9  {
    margin-right: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
}
.offset-right-10  {
    margin-right: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
}
.offset-right-11  {
    margin-right: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
}
.offset-right-12  {
    margin-right: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
}

@media screen and (max-width: 599px) {

    .container,
    #container #main .inside{
        width: 100%;
    }
    .container-fluid {
        width: 100%;
    }

    .widget,
    .col,
    [class*="col-"],
    [class^='col-'] {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .col-1-md {
        flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
        max-width: calc((100% / (12/1)) - var(--grid-gutter));
    }

    .col-2-md {
        flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
        max-width: calc((100% / (12/2)) - var(--grid-gutter));
    }

    .col-3-md {
        flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
        max-width: calc((100% / (12/3)) - var(--grid-gutter));
    }

    .col-4-md {
        flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
        max-width: calc((100% / (12/4)) - var(--grid-gutter));
    }

    .col-5-md {
        flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
        max-width: calc((100% / (12/5)) - var(--grid-gutter));
    }

    .col-6-md {
        flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
        max-width: calc((100% / (12/6)) - var(--grid-gutter));
    }

    .col-7-md {
        flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
        max-width: calc((100% / (12/7)) - var(--grid-gutter));
    }

    .col-8-md {
        flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
        max-width: calc((100% / (12/8)) - var(--grid-gutter));
    }

    .col-9-md {
        flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
        max-width: calc((100% / (12/9)) - var(--grid-gutter));
    }

    .col-10-md {
        flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
        max-width: calc((100% / (12/10)) - var(--grid-gutter));
    }

    .col-11-md {
        flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
        max-width: calc((100% / (12/11)) - var(--grid-gutter));
    }

    .col-12-md {
        flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
        max-width: calc((100% / (12/12)) - var(--grid-gutter));
    }

    .offset-left-1-md  {
        margin-left: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-left-2-md  {
        margin-left: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-3-md  {
        margin-left: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-4-md  {
        margin-left: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-5-md  {
        margin-left: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-6-md  {
        margin-left: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-7-md  {
        margin-left: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-8-md  {
        margin-left: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-9-md  {
        margin-left: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-10-md  {
        margin-left: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-11-md  {
        margin-left: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-12-md  {
        margin-left: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
    
    .offset-right-1-md  {
        margin-right: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-right-2-md  {
        margin-right: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-3-md  {
        margin-right: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-4-md  {
        margin-right: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-5-md  {
        margin-right: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-6-md  {
        margin-right: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-7-md  {
        margin-right: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-8-md  {
        margin-right: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-9-md  {
        margin-right: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-10-md  {
        margin-right: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-11-md  {
        margin-right: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-12-md  {
        margin-right: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
}

@media screen and (min-width: 1200px) {
    .col-1-lg {
        flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
        max-width: calc((100% / (12/1)) - var(--grid-gutter));
    }

    .col-2-lg {
        flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
        max-width: calc((100% / (12/2)) - var(--grid-gutter));
    }

    .col-3-lg {
        flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
        max-width: calc((100% / (12/3)) - var(--grid-gutter));
    }

    .col-4-lg {
        flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
        max-width: calc((100% / (12/4)) - var(--grid-gutter));
    }

    .col-5-lg {
        flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
        max-width: calc((100% / (12/5)) - var(--grid-gutter));
    }

    .col-6-lg {
        flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
        max-width: calc((100% / (12/6)) - var(--grid-gutter));
    }

    .col-7-lg {
        flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
        max-width: calc((100% / (12/7)) - var(--grid-gutter));
    }

    .col-8-lg {
        flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
        max-width: calc((100% / (12/8)) - var(--grid-gutter));
    }

    .col-9-lg {
        flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
        max-width: calc((100% / (12/9)) - var(--grid-gutter));
    }

    .col-10-lg {
        flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
        max-width: calc((100% / (12/10)) - var(--grid-gutter));
    }

    .col-11-lg {
        flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
        max-width: calc((100% / (12/11)) - var(--grid-gutter));
    }

    .col-12-lg {
        flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
        max-width: calc((100% / (12/12)) - var(--grid-gutter));
    }

    .offset-left-1-lg  {
        margin-left: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-left-2-lg  {
        margin-left: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-3-lg  {
        margin-left: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-4-lg  {
        margin-left: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-5-lg  {
        margin-left: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-6-lg  {
        margin-left: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-7-lg  {
        margin-left: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-8-lg  {
        margin-left: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-9-lg  {
        margin-left: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-10-lg  {
        margin-left: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-11-lg  {
        margin-left: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-12-lg  {
        margin-left: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
    
    .offset-right-1-lg  {
        margin-right: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-right-2-lg  {
        margin-right: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-3-lg  {
        margin-right: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-4-lg  {
        margin-right: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-5-lg  {
        margin-right: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-6-lg  {
        margin-right: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-7-lg  {
        margin-right: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-8-lg  {
        margin-right: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-9-lg  {
        margin-right: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-10-lg  {
        margin-right: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-11-lg  {
        margin-right: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-12-lg  {
        margin-right: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
}

.fullwidth {
    transform: translateX(-50%);
    max-width: 100vw;
    width: calc(100vw - var(--grid-gutter-minus));
    flex: none;
    padding: var(--grid-gutter) var(--grid-gutter-minus);
    margin: 0;
    margin-left: 50%;
    margin-bottom: var(--grid-gutter-plus);

    // &.bgcolor1 {
    //     background-color: var(--bgcolor1);
    // }
    // &.bgcolor2 {
    //     background-color: var(--bgcolor2);
    // }
    // &.bgcolor3 {
    //     background-color: var(--bgcolor3);
    // }

    > .row {
        margin-left: calc(var( --grid-gutter) * -1);
        margin-right: calc(var( --grid-gutter) * -1);
       
    }

}
.fullwidthpadding {
    
    transform: translateX(-50%);
    max-width: 100vw;
    width: calc(100vw - var(--grid-gutter) );
    flex: none;
    padding: var(--grid-gutter) var(--grid-gutter-minus);
    margin: 0;
    margin-left: 50%;
    margin-bottom: var(--grid-gutter-plus);

    // &.bgcolor1 {
    //     background-color: var(--bgcolor1);
    // }
    // &.bgcolor2 {
    //     background-color: var(--bgcolor2);
    // }
    // &.bgcolor3 {
    //     background-color: var(--bgcolor3);
    // }

}
.bgcolor1 {
    background-color: var(--bgcolor1);
}
.bgcolor2 {
    background-color: var(--bgcolor2);
}
.bgcolor3 {
    background-color: var(--bgcolor3);
}


.fullwidthbg  {

    flex-direction: column;
    position: relative;
    /*padding: var(--grid-gutter-plus) 1rem;*/
    margin-bottom: var(--grid-gutter-plus);

    // &.bgcolor1 {
    //     background-color: var(--bgcolor1);
    // }
    // &.bgcolor2 {
    //     background-color: var(--bgcolor2);
    // }
    // &.bgcolor3 {
    //     background-color: var(--bgcolor3);
    // }

    &::before,
    &::after {
        background-color: inherit;
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
        //width:  calc( ((100vw - 100%) / 2)  );
        width:  200vw;
    }
    &::before {
        left: calc( ((100vw - 100%) / 2) * -1); 
    }
    &::after {
        right: calc( ((100vw - 100%) / 2) * -1); 
    }
}


.linebreak {
    height: 0;
    margin: 0;
    width: 100%;
}


.content-center {
    text-align: center;
    align-content: end;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.is-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.is-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

// .bottomspaceDefault {
//     margin-bottom: var(--grid-gutter);
// }
.bottomspaceMin {
    margin-bottom: var(--grid-gutter-minus);
}
.bottomspace0 {
    margin-bottom: 0;
}
.bottomspace2x {
    margin-bottom: 6rem;
}
.bottomspace1-5x {
    margin-bottom: 4.5rem;
}
.addMarginless {
    margin-top: 0;
    margin-bottom: 0;
    > .row {
       
        margin-bottom: 0;
    }
}
.fullwidth.addMarginless {
    > .row {
        margin-left: calc(var(--grid-gutter) / -1);
        margin-right: calc(var(--grid-gutter) / -1);
        .element {
          
        }
    }
}