h1, h2, h3, h4, h5 ,h6 {
    margin: 0 0 .5rem 0;
}
.grid_row_start {
    box-shadow: 0px -3px 12px -6px #000;
    flex: 0 0 99% !important;
    max-width: 99% !important;
}

.grid_row_end {
    box-shadow: 0px 3px 12px -6px #000;
}

.limit_height {
    
}
.cte_type {
    text-align: left;
}
.limit_toggler {
    z-index: 4;
    width: 30px;
}
.beinformation {
    font-size: .75rem;
    margin-bottom: 0;
    line-height: 1.2;
    color: gray;
    padding: .5rem 0;
    clear: both;
}

.customcontainer {
    
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    padding-top: 1rem;

    label {
        margin: 2px;
    }
}
.begridhelper {
    color: #ccc;
    font-size: 0.75rem;
    position: absolute;
    right: 5px;
    bottom: 0;
    z-index: 5;
}
.gridselector {

    label {
        display: block;
        font-weight: 600;
        font-size: .875rem;
        margin-right: 1rem;
    }
    select {
        width: 10rem;
        padding: 5px;
        margin-right: 1rem;
    }
}
.contentList {
    min-height: 45px;
    padding-bottom: 15px;
}
.readonly-writable {
    position: relative;
    &::after {
        content: " (readonly)";
        color: gray;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        opacity: 0.7;
        background: #fff;
    }
}

.w10 {
    width: calc(10% - 30px);
    float: left;
}
.w15 {
    width: calc(15% - 30px);
    float: left;
}
.w20 {
    width: calc(20% - 30px);
    float: left;
    
}
.w25 {
    width: calc(25% - 30px);
    float: left;
}
.w30 {
    width: calc(30% - 30px);
    float: left;
}
.w33 {
    width: calc(33% - 30px);
    float: left;
}
.w40 {
    width: calc(40% - 30px);
    float: left;
}
.w60 {
    width: calc(60% - 30px);
    float: left;
}
.w70 {
    width: calc(70% - 30px);
    float: left;
}
.w75 {
    width: calc(75% - 30px);
    float: left;
}


// By https://jenil.github.io/chota/#!
:root {
    --grid-gutter-minus: .2rem;
    --grid-gutter: .9rem;
    --grid-gutter-plus: .9rem;
}


ul.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.row.reverse
{
    flex-direction: row-reverse;
}

.col {
    flex: 1;
}

.col,
[class*=" col-"],
[class^='col-'] {
    margin: 0 calc(var(--grid-gutter) / 2) .5rem;
}

.col-1 {
    flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
    max-width: calc((100% / (12/1)) - var(--grid-gutter));
}

.col-2 {
    flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
    max-width: calc((100% / (12/2)) - var(--grid-gutter));
}

.col-3 {
    flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
    max-width: calc((100% / (12/3)) - var(--grid-gutter));
}

.col-4 {
    flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
    max-width: calc((100% / (12/4)) - var(--grid-gutter));
}

.col-5 {
    flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
    max-width: calc((100% / (12/5)) - var(--grid-gutter));
}

.col-6 {
    flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
    max-width: calc((100% / (12/6)) - var(--grid-gutter));
}

.col-7 {
    flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
    max-width: calc((100% / (12/7)) - var(--grid-gutter));
}

.col-8 {
    flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
    max-width: calc((100% / (12/8)) - var(--grid-gutter));
}

.col-9 {
    flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
    max-width: calc((100% / (12/9)) - var(--grid-gutter));
}

.col-10 {
    flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
    max-width: calc((100% / (12/10)) - var(--grid-gutter));
}

.col-11 {
    flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
    max-width: calc((100% / (12/11)) - var(--grid-gutter));
}

.col-12 {
    flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
    max-width: calc((100% / (12/12)) - var(--grid-gutter));
}


.offset-left-1  {
    margin-left: calc((100% / (12/1)) + var(--grid-gutter-minus));
}
.offset-left-2  {
    margin-left: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
}
.offset-left-3  {
    margin-left: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
}
.offset-left-4  {
    margin-left: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
}
.offset-left-5  {
    margin-left: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
}
.offset-left-6  {
    margin-left: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
}
.offset-left-7  {
    margin-left: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
}
.offset-left-8  {
    margin-left: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
}
.offset-left-9  {
    margin-left: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
}
.offset-left-10  {
    margin-left: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
}
.offset-left-11  {
    margin-left: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
}
.offset-left-12  {
    margin-left: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
}

.offset-right-1  {
    margin-right: calc((100% / (12/1)) + var(--grid-gutter-minus));
}
.offset-right-2  {
    margin-right: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
}
.offset-right-3  {
    margin-right: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
}
.offset-right-4  {
    margin-right: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
}
.offset-right-5  {
    margin-right: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
}
.offset-right-6  {
    margin-right: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
}
.offset-right-7  {
    margin-right: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
}
.offset-right-8  {
    margin-right: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
}
.offset-right-9  {
    margin-right: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
}
.offset-right-10  {
    margin-right: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
}
.offset-right-11  {
    margin-right: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
}
.offset-right-12  {
    margin-right: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
}

@media screen and (max-width: 599px) {
    

    .col,
    [class*="col-"],
    [class^='col-'] {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .col-1-md {
        flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
        max-width: calc((100% / (12/1)) - var(--grid-gutter));
    }

    .col-2-md {
        flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
        max-width: calc((100% / (12/2)) - var(--grid-gutter));
    }

    .col-3-md {
        flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
        max-width: calc((100% / (12/3)) - var(--grid-gutter));
    }

    .col-4-md {
        flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
        max-width: calc((100% / (12/4)) - var(--grid-gutter));
    }

    .col-5-md {
        flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
        max-width: calc((100% / (12/5)) - var(--grid-gutter));
    }

    .col-6-md {
        flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
        max-width: calc((100% / (12/6)) - var(--grid-gutter));
    }

    .col-7-md {
        flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
        max-width: calc((100% / (12/7)) - var(--grid-gutter));
    }

    .col-8-md {
        flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
        max-width: calc((100% / (12/8)) - var(--grid-gutter));
    }

    .col-9-md {
        flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
        max-width: calc((100% / (12/9)) - var(--grid-gutter));
    }

    .col-10-md {
        flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
        max-width: calc((100% / (12/10)) - var(--grid-gutter));
    }

    .col-11-md {
        flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
        max-width: calc((100% / (12/11)) - var(--grid-gutter));
    }

    .col-12-md {
        flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
        max-width: calc((100% / (12/12)) - var(--grid-gutter));
    }

    
    .offset-left-1-md  {
        margin-left: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-left-2-md  {
        margin-left: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-3-md  {
        margin-left: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-4-md  {
        margin-left: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-5-md  {
        margin-left: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-6-md  {
        margin-left: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-7-md  {
        margin-left: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-8-md  {
        margin-left: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-9-md  {
        margin-left: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-10-md  {
        margin-left: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-11-md  {
        margin-left: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-12-md  {
        margin-left: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
    
    .offset-right-1-md  {
        margin-right: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-right-2-md  {
        margin-right: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-3-md  {
        margin-right: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-4-md  {
        margin-right: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-5-md  {
        margin-right: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-6-md  {
        margin-right: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-7-md  {
        margin-right: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-8-md  {
        margin-right: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-9-md  {
        margin-right: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-10-md  {
        margin-right: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-11-md  {
        margin-right: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-12-md  {
        margin-right: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
}

@media screen and (min-width: 1200px) {
    .col-1-lg {
        flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
        max-width: calc((100% / (12/1)) - var(--grid-gutter));
    }

    .col-2-lg {
        flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
        max-width: calc((100% / (12/2)) - var(--grid-gutter));
    }

    .col-3-lg {
        flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
        max-width: calc((100% / (12/3)) - var(--grid-gutter));
    }

    .col-4-lg {
        flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
        max-width: calc((100% / (12/4)) - var(--grid-gutter));
    }

    .col-5-lg {
        flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
        max-width: calc((100% / (12/5)) - var(--grid-gutter));
    }

    .col-6-lg {
        flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
        max-width: calc((100% / (12/6)) - var(--grid-gutter));
    }

    .col-7-lg {
        flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
        max-width: calc((100% / (12/7)) - var(--grid-gutter));
    }

    .col-8-lg {
        flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
        max-width: calc((100% / (12/8)) - var(--grid-gutter));
    }

    .col-9-lg {
        flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
        max-width: calc((100% / (12/9)) - var(--grid-gutter));
    }

    .col-10-lg {
        flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
        max-width: calc((100% / (12/10)) - var(--grid-gutter));
    }

    .col-11-lg {
        flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
        max-width: calc((100% / (12/11)) - var(--grid-gutter));
    }

    .col-12-lg {
        flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
        max-width: calc((100% / (12/12)) - var(--grid-gutter));
    }
    
    .offset-left-1-lg  {
        margin-left: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-left-2-lg  {
        margin-left: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-3-lg  {
        margin-left: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-4-lg  {
        margin-left: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-left-5-lg  {
        margin-left: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-6-lg  {
        margin-left: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-7-lg  {
        margin-left: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-8-lg  {
        margin-left: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-9-lg  {
        margin-left: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-10-lg  {
        margin-left: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-11-lg  {
        margin-left: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-left-12-lg  {
        margin-left: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
    
    .offset-right-1-lg  {
        margin-right: calc((100% / (12/1)) + var(--grid-gutter-minus));
    }
    .offset-right-2-lg  {
        margin-right: calc((100% / (12/2)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-3-lg  {
        margin-right: calc((100% / (12/3)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-4-lg  {
        margin-right: calc((100% / (12/4)) + var(--grid-gutter-minus)) ;
    }
    .offset-right-5-lg  {
        margin-right: calc((100% / (12/5)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-6-lg  {
        margin-right: calc((100% / (12/6)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-7-lg  {
        margin-right: calc((100% / (12/7)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-8-lg  {
        margin-right: calc((100% / (12/8)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-9-lg  {
        margin-right: calc((100% / (12/9)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-10-lg  {
        margin-right: calc((100% / (12/10)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-11-lg  {
        margin-right: calc((100% / (12/11)) +  var(--grid-gutter-minus)) ;
    }
    .offset-right-12-lg  {
        margin-right: calc((100% / (12/12)) +  var(--grid-gutter-minus)) ;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
