<!DOCTYPE html>
<html>
<head>
    <title>Site is down for maintenance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        body { text-align: center; font: 17px Helvetica, sans-serif; color: #333; margin:0; }
        .body-container {padding: 0% 10% 5%;}
        h1 { font-size: 31px; margin: 0; }
        article { display: block; text-align: left; max-width: 750px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
        .header-container {box-shadow: 0 0 1.5rem -0.8rem rgb(0 0 0 / 75%);padding: 40px 0; margin-bottom: 50px;}
        .header-logo {max-width: 432px; margin: 0px auto;}
        .header-logo img{width:100%;}
        @media only screen and (max-width : 480px) {
            h1 { font-size: 24px; }
        }
    </style>
</head>
<body>

<div class="header-container">
    <div class="header-logo">
        <img src="" alt="Logo">
    </div>
</div>
<div class="body-container">
    <article>
        <h1>We’ll be back soon!</h1>
        <p>
            Site is temporarily unavailable. Scheduled maintenance is currently in progress.<br>
            Please check back soon.<br>
            <br>
            We apologize for any inconvenience.<br>
        </p>

    </article>
    <br>
    <br>
    <article>
        <h1>Wir sind bald wieder zurück!</h1>
        <p>
            Die Website ist vorübergehend nicht verfügbar.<br>
            Geplante Wartungsarbeiten werden derzeit durchgeführt. Bitte schaue bald wieder vorbei.<br>
            <br>
            Wir bitten um Entschuldigung für die Unannehmlichkeiten.<br>
        </p>
    </article>
    <br>
    <br>
    

</div>
</body>
</html>
